<section id="aa-properties">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="aa-properties-content">
          <!-- Start properties content body -->
          <div class="aa-properties-details">
            <div class="aa-properties-details-img">
              <img src="{{house.image}}" alt="img">
              <img src="img/slider/2.jpg" alt="img">
              <img src="img/slider/3.jpg" alt="img">
            </div>
            <div class="aa-properties-info">
              <h2>{{house.name}}</h2>
              <span class="aa-price">${{house.price}}</span>
              <p>{{house.description}}</p>
              <h4>Số phòng: </h4>
              <ul>
                <li>{{house.bedroom}} Phòng ngủ</li>
                <li>{{house.bathroom}} Phòng tắm</li>
              </ul><hr>
              <a href="#" class="aa-secondary-btn" style="margin: 600px">Rent</a>
              <h4>Địa chỉ: {{house.address}}</h4>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6851.201919469417!2d-86.11773906635584!3d33.47324776828677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x888bdb60cc49c571%3A0x40451ca6baf275c7!2s36008+AL-77%2C+Talladega%2C+AL+35160%2C+USA!5e0!3m2!1sbn!2sbd!4v1460452919256" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
