
<div id="aa-latest-property">
  <div class="container">
    <div class="aa-latest-property-area">
      <div class="aa-title">
        <h2>List House</h2>
        <span></span>
      </div>
      <div class="aa-latest-properties-content">
        <div class="row">
          <div class="col-md-4" *ngFor="let house of houses ; index as i">
            <article class="aa-properties-item">
              <a href="#" class="aa-properties-item-img">
<!--                <img src="../../../../assets/img/item/house370x220.jpg" alt="img">-->
                <img src="{{house.image}}" alt="img">
              </a>
              <div class="aa-tag for-sale">
                Ready
              </div>
              <div class="aa-properties-item-content" [routerLink]="['/detail', house.id]">

                <div class="aa-properties-info">
                  <span>{{house.bedroom}} Beds</span>
                  <span>{{house.bathroom}} Baths</span>
                </div>
                <div class="aa-properties-about">
                  <h3><a href="#">{{house.name}}</a></h3>
                  <p>{{house.description}}</p>
                </div>
                <div class="aa-properties-detial">
                    <span class="aa-price">
                      ${{house.price}}
                    </span>
                  <a href="#" class="aa-secondary-btn">Rent</a>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

